.atfLi {
  cursor: pointer;
  margin-top: 20px;
  .text--h5 {
    color: rgb(74, 110, 224);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  .text--tiny {
    color: #6d758d;
  }
  .progressBar {
    margin-top: 16px;
    background: #e7e9f5;
    border-radius: 1px;
    height: 2px;
    width: 100%;
    span {
      height: 2px;
      transition: width 7s linear;
      width: 0;
    }
  }
}
.atfLi.active {
  .text--h5 {
    color: rgb(14, 16, 26);
  }
  .progressBar {
    span {
      width: 100%;
      background: #0e101a;
      display: block;
    }
  }
}
