.section2 {
  padding: 48px 24px;

  .colsContainer{
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
    margin-top: 48px;
  }
  
  .col{
    width: 42%;
  }
}

@media screen and (max-width: 870px) {
  .section2{
    .col{
      width: 100%;
    }
  }
}
