.section5{
    min-height: 492px;
    background: no-repeat left -200px bottom -90px url(../images/swoosh.png);

    .text--h1{
        margin-bottom: 16px;
    }
    .text--h4{
        margin-bottom: 24px;
    }
}